# Example maza - builds branch 10.2"
# use any git commit hash, branch or tag" 
# GD_BUILD_COIN will be the name of the directory 
# you will clone into as you build 
# ideally this will match the coin you're building

# Ensure that you have no comments 
# Ensure that these VARS do NOT have quotations 
GD_BUILD_URL=https://github.com/mazacoin/mazacoin-new
GD_BUILD_COMMIT=10.2
GD_BUILD_COIN=maza
GD_HOST_OSXSDK=
GD_BUILD_OS=
GD_BUILD_VM=

